@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'space mono',sans-serif;
}
:root{
--Strong-cyan: hsl(172, 67%, 45%);
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan: hsl(186, 14%, 43%);
--Grayish-cyan: hsl(184, 14%, 56%);
--Light-grayish-cyan: hsl(185, 41%, 84%);
--Very-light-grayish-cyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
 
}
body{
    background: var(--Light-grayish-cyan);
    
}
.container{
    margin: 5% auto;
    width: 60%;
    text-align: center;
}
.section-wrapper{
    text-align: left;
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background: var(--White);
    display: flex;
    gap: 1rem;
}
.left-wrapper,.right-wrapper{
  width: 50%;
}
input{
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.3rem;
    background: var(--Very-light-grayish-cyan);
    font-size: 24px;
    border: none;
    outline: none;
    text-align: right;
    color: var(--Light-grayish-cyan);
    font-weight: 700;
    
}
input::placeholder{
    color:var(--Strong-cyan);
}
input:hover,input:focus{
    border: 1px solid var(--Strong-cyan);
}
input.invalid{
    border: 1px solid red;
}
label{
    color: var(--Very-dark-cyan);
}
.bill{
    position: relative;
}
.bill-icon{
    position: absolute;
    top: 3.2rem;
    left: 1rem;
}
.select-btn{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0.5rem 0;
}
button{
    width: 30%;
    padding: 0.5rem;
    background: var(--Very-dark-cyan);
    color: var(--White);
    border: none;
    outline: none;
    border-radius: 0.3rem;
    height: fit-content;
    font-size: 24px;
    cursor: pointer;
}

button:hover{
    background: var(--Strong-cyan);
    color: black;
}
button.selected{
    background: var(--Strong-cyan);
    color: black;
}
.select-btn input{
    width: 30%;
    margin-top: 0;
}
.right-wrapper{
    background: var(--Very-dark-cyan);
    padding: 1.5rem;
    border-radius: 1rem;
}
.tip-title p{
    color:var(--White);
}
.tip{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.tip-title span{
    color: var(--Very-light-grayish-cyan);
}
.tip h1{
    color: var(--Strong-cyan);
    font-size: 2.5rem;
}
.submit{
    margin-top: 30%;
    background: var(--Grayish-cyan);
    width: 100%;
    color: var(--Light-grayish-cyan);

}
.bill-state{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.error{
   color: red;
   font-weight: bold; 
}
@media(max-width:600px){
    .container{
        width: 90%;
    }
    .section-wrapper{
        flex-direction: column;
    }
    .left-wrapper,.right-wrapper{
        width: 100%;
    }
    button{
        width: 45%;
    }
    .select-btn input{
        width: 45%;
    }
    .tip h1{
        font-size: 1.5rem;
    }
}

